---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Code Club RDU</title>
	</head>

	<body>
		<div class="">
			<h1 class="mb-3 text-left text-2xl">Welcome to <b>Code Club</b> RDU's homepage</h1>
			<div class="flex flex-col">
				<p>Pardon the dust while we build out the website</p>
				<p>Join our <a href="https://discord.gg/h22edSxZdK" target="_blank">Discord</a></p>
				<p>
					You can also find us on <a href="https://www.meetup.com/code-club-rdu/" target="_blank"
						>Meetup</a
					>
				</p>
			</div>
		</div>
	</body>
</html>
